@page
@model EmployeeManagementUI.Pages.Employee.EmployeeModel
@{
    ViewData["Title"] = "Employee List";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.SearchText"></label>
                <input type="text" asp-for="@Model.SearchText" class="form-control" />
            </div>
        </div>
        <div class="col-md-6 text-left">
            <button type="submit" class="btn btn-primary mt-4">Search</button>
            <a href="/Employee/AddEmployee" class="btn btn-primary mt-4">Add Employee</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Email
            </th>
            <th>
                D.O.B
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.employeesResponseList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.DOB.HasValue)
                    {
                        @item.DOB.Value.ToString("yyyy-MM-dd")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a href="@($"/Employee/EditEmployee?id={item.EmployeeId}")">Edit</a> |
                    <a href="@($"/Employee/DeleteEmployee?id={item.EmployeeId}")">Delete</a>
                </td>
            </tr>
        }
        @if (Model.employeesResponseList.Count() == 0)
        {
            <tr>
                <td colspan="5" class="text-center">
                    No data available
                </td>
            </tr>
        }
    </tbody>
</table>
